body {
    background-color:#fdf7f0
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 6rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.header-color {
    color: #2b427a;
}

.hyperlink-style-header {
    color: #2b427a;
    text-decoration: none;
}

.hyperlink-style-body {
    color: black;
    text-decoration: underline;
}

.exp-dates {
    color:#2b427a;
    font-weight: bold;
}

.subheader-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.section-header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.degree {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}

.exp-bullets {
    padding-left: 40px;
    padding-right: 20px;
}

.proj-cert-header {
    padding-top: 35px;
}

.proj-spacing {
    padding-top: 5px;
    padding-bottom: 5px;
}

#header-line {
    border: 2px solid #2b427a;
    opacity: 100;
}

#resume-bg{
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-top: 4rem;
    border: 1px solid grey;
}

#edu-proj-cert {
    background-color: #b2cfea;
    padding: 25px;
}

#skills-exp {
    padding-top: 25px;
}

.cert {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    padding-top: 8pt;
    padding-bottom: 8px;
}

#res-page-details {
    margin-top: 80px;
    margin-bottom: 50px;
}
